/*body styling*/
body {
  font-family: "roboto";
  background-color: whitesmoke;
  color: black;
}
/*navbarstyling*/
.navbar {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px gray;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-link {
  display: flex;
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  margin: 0 25px;
}

.nav-link:hover {
  color: rgb(171, 171, 171);
  transform: scale(1.3);
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
/*homestyling*/
.home {
  display: flex;
  justify-content: center;
}
.homecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 400px;
}
.homeimg {
  padding-right: 0%;
}
h2 {
}
/*aboutstyling*/
.about {
  display: flex;
  justify-content: center;
  background-image: url(Billie\ Eilish.jpg);
}

.about-text h1 {
  padding-left: 120px;
  justify-content: center;
  max-width: 16ch;
}

table {
  padding: left 300px;
  margin-top: 200px;
  margin-left: 90px;
  background-color: #f0f0f0;
}
/*resume styling*/
.resume {
  display: flex;
  gap: 100px;
}
.video {
  display: flex;
  flex-direction: column;
}
/*footer styling */
.footer {
  color: #f0f0f0;
  height: 100 vh;
  background-color: black;
  display: flex;
  justify-content: center;
}
.author {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
